.component.choose {
    user-select: none;
}

.component.choose label {
    display: inline-block;
    cursor: pointer;
    width: 60%;
}

.choose_bg>svg {
    top: -4em;
    height: 12rem;
    opacity: 0.3;
    position: relative;
    float: right;
    display: none;
}